body{
  float: left;
  background-color: rgba(211, 211, 211, 0.5); }
span{
  color:red; }
select{
  width: 1110px;
  float: right;
  background-color: rgba(211, 211, 211, 0.5); }
div{
  width: 100%; }
input{
  float:right;
  background-color: rgba(211, 211, 211, 0.5);
  width: 1100px; }
.head{
  color: black;
  font-weight: bold;
  font-size: 25px; }
.txt{
  color: black;
  float: right;
  width: 1110px;
  font-style: italic; }
span input{
  background-color: rgba(211, 211, 211, 0.5);
  float: left;
  width: 18px; }
button{
  border: white;
  background-color: rgb(15, 206, 15);
  color: white;
  font-size: medium;
  padding: 10px 15px 10px 15px; }